<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
        <title>Inventory</title>
    </head>

    <body>
            <div class='jumbotron'>
                <div class='container'>
                    <h1>Inventory</h1>
                </div>
            </div>

        <div class='container'>
            <!-- Row: 1 -->
            <div class='row'>
                <div class='col-sm-6'>
                    <h2>Enter an item!</h2>

                    <form action='/items' method="post">
                        <div class='form-group'>
                            <label for='name'>Item</label>
                            <input id='name' name='name' type='text'>
                        </div>

                        <button class='btn btn-warning' type='submit'>Submit!</button>
                    </form>

                </div>  <!-- /col-sm-6 -->
            </div>  <!-- /Row -->

    <!-- Results ----------------------------->
            <!-- Row: 2 -->
            <div class="row">
                <div class="col-sm-6">
                    {% if items is not empty %}
                    <h3>Inventory</h3>
                    <ul>
                        {% for item in items %}
                            <li>{{ item.getName }}</li>
                        {% endfor %}
                    </ul>
                    <form action='/delete_items' method='post'>
                        <button class='btn btn-info' type='submit'>Delete List</button>
                    </form>
                    {% endif %}
                </div><!--col-sm-6-->
            </div><!--row-->
        </div>  <!-- /Container  -->









    </body>
</html>
